.button {
    border-radius: 12px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #F7AF9D;
    color: black;
    border: 0;
    margin: 5px;
}

.input:focus {
  outline: none;
}

.input {
  border: none;
  font-size: 16px;
  background-color: #B0D0D3;
  border-bottom: 1px solid;
}

.div {
    width: 40%;
    background-color: #B0D0D3;
    padding: 10px 10px;
    border-radius: 25px;
}